*.swp
*.*~
src/project.lock.json
tests/project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
*.vscode

# User-specific files
src/*.suo
src/*.user
src/*.userosscache
src/*.sln.docstates

# Build results
src/[Dd]ebug/
src/[Dd]ebugPublic/
src/[Rr]elease/
src/[Rr]eleases/
src/x64/
src/x86/
src/build/
src/bld/
src/[Bb]in/
src/[Oo]bj/
src/msbuild.log
src/msbuild.err
src/msbuild.wrn

# Visual Studio 2015
src/.vs/

# tests

# User-specific files
tests/*.suo
tests/*.user
tests/*.userosscache
tests/*.sln.docstates

# Build results
tests/[Dd]ebug/
tests/[Dd]ebugPublic/
tests/[Rr]elease/
tests/[Rr]eleases/
tests/x64/
tests/x86/
tests/build/
tests/bld/
tests/[Bb]in/
#tests/[Oo]bj/
tests/msbuild.log
tests/msbuild.err
tests/msbuild.wrn

# Visual Studio 2015
tests/.vs/